<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/MY-PC/Documents/EcommerceAutomation">
        <classes>
            <class name="src.test.E2E.PlaceOrderTests">
                <methods>
                    <include name="SampleTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>